<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .N-nav-bottom,
        .N-nav-channel,
        .ntes-nav {
            font-family: "\5B8B\4F53", sans-serif;
            font-size: 12px;
        }

        .N-nav-bottom {
            color: #616161;
            background: #333;
        }
    </style>
</head>

<body>
    <div class="N-nav-bottom">
        <div class="N-nav-bottom-main">
            <div class="ntes_foot_link">
                <span class="N-nav-bottom-copyright"><span class="N-nav-bottom-copyright-icon">©</span> 1997-2020
                    网易公司版权所有</span>
                <a href="http://corp.163.com/">About NetEase</a> |
                <a href="http://gb.corp.163.com/gb/about/overview.html">公司简介</a> |
                <a href="http://gb.corp.163.com/gb/contactus.html">联系方法</a> |
                <a href="http://corp.163.com/gb/job/job.html">招聘信息</a> |
                <a href="http://help.163.com/ ">客户服务</a> |
                <a href="http://gb.corp.163.com/gb/legal.html">隐私政策</a> |
                <a href="http://emarketing.163.com/">广告服务</a> |
                <a href="http://sitemap.163.com/">网站地图</a> |
                <a href="http://jubao.aq.163.com/">不良信息举报</a> |
                <a href="https://jubao.163.com/">廉正举报</a>
            </div>
        </div>
    </div>
</body>

</html>